<center>
<h1><%= "Bulk Discounts for #{@merchant.name}"%></h1>

<p><%= link_to "Create Discount", new_merchant_discount_path(@merchant.id) %></p>


<section id="discounts">
<% @merchant.discounts.each do |discount| %> 
  <section id= "<%= discount.name.parameterize %>">
    <p>name: <%= link_to "#{discount.name}", merchant_discount_path(@merchant.id, discount.id) %></p>
    <p><%= button_to "Delete #{discount.name}", merchant_discount_path(@merchant.id, discount.id), method: :delete %></p>

    <p>item threshold: <%= discount.threshold %></p>
    <p>percentage: <%= discount.percentage %></p>
  </section>
<% end %>
</section>


<section id= "Upcoming Holidays">
<h2>Upcoming Holidays</h2>
<% @upcoming_holidays.next_three_holidays.each do |holiday| %>
  <section id= "<%= holiday[:name].parameterize %>">
    <p>name: <%= holiday[:name] %></p>
    <p>date: <%= holiday[:date] %></p>
  </section>
<% end %>

</section>
</center>